.ui.segment.grey100 {
    background-color: #F5F5F5;
    margin: 0 0 10px 0;
    box-shadow: none;
    border: none;
}


.hero-container {
  min-height: 400px;
  background-image: url(../images/hero1.jpg);
  background-repeat: no-repeat;
  background-size: 1700px 900px;
  background-position: center top;

    display: flex;
    align-items: center;
}
.full-width{
    width: 100%;
}
.single-padding{
    padding: 1em;
}
.double-padding{
    padding: 2em;
}
.double-margin{
    margin: 2em;
}
.single-margin{
    margin: 1em;
}
.center{
    text-align: center;
}
.left-pcnt-padding{
    padding-top: 10px;
    padding-left: 50%;
}
.eq-card.ui.card {
  flex: 1; /* Shrink and grow according to available height */
  flex-basis: 0;
}
